<meta charset="UTF-8" />
<body>
  <p>
    Cám ơn <%= account.firstName account.lastName %> đã tham gia vào cộng đồng của chúng tôi
  </p>
  <p>
    Chúng tôi rất mong trở thành cầu nối để bạn có thể giao dịch những sản phẩm 
    liên quan tới sneakers ngay ngày hôm nay. Hãy xác nhận tài khoản để hoàn tất 
    việc đăng kí thành viên
  </p>
  <div>
    <a href="<%= verification.url %>"" role="button">Xác nhận tài khoản</a></p>
    <p>
      Hoặc sử dụng đường linh này <%= verificationURL %>
    </p>
  </div>
  <p>
    Đăng ký thành viên không hề mất bất cứ một loại phụ phí nào. 
    Tuy nhiên để đảm bảo chất lượng của dịch vụ, chúng tôi sẽ thu phí với các hoạt động: 
    Bán, hủy mua/bán, giao dịch không đúng với mô tả...
    Chi tiết xem tại: Term & condition.
  </p>
  <p>
    vsnkrs team.
  </p>
</body>