{
  "trailingComma": "none",
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "jsxBracketSameLine": false,
  "newline-before-return": true,
  "no-duplicate-variable": [true, "check-parameters"],
  "no-var-keyword": true
}
