<!DOCTYPE html>
<html>
  <head>
    <title>Thanh toán thành công!</title>
  </head>
  <script>
    setTimeout(() => {
      if (window.ReactNativeWebView) {
        window.ReactNativeWebView.postMessage(
          JSON.stringify({
            success: true
          })
        );
      }
    }, 200);
  </script>
  <body>
    <h1>Thanh toán thành công!</h1>
    <p>Hãy ấn nút để quay lại!</p>
  </body>
</html>
