<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945304382349-taa2784vt7v5d0e89lg7enk1nqdhhvgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945304382349-taa2784vt7v5d0e89lg7enk1nqdhhvgl</string>
	<key>API_KEY</key>
	<string>AIzaSyDBE-FH3YyyPodGlkXVAhlWgFbO7buN4JA</string>
	<key>GCM_SENDER_ID</key>
	<string>945304382349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.sneakgeek.mobile.staging</string>
	<key>PROJECT_ID</key>
	<string>sneakgeek-dev-299009</string>
	<key>STORAGE_BUCKET</key>
	<string>sneakgeek-dev-299009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945304382349:ios:0226b5eb62af27ca94ebc4</string>
</dict>
</plist>